<h3>1.Add new Insurance organization</h3>
<div class="section">
    <button class="btn" ng-click="$ctrl.addOrg()">Add</button> Your Submited transaction :
    <span class="address">
    {{$ctrl.transactionHash}}
    </span>
</div>

<h3>2.Get organization contract address</h3>
<div class="section">
    <button class="btn" ng-click="$ctrl.getContractAddress()"> Get Deployed Contract Address </button> Your Insurance contract
    address :
    <span class="address">
    {{$ctrl.deployedContract}}
    </span>
</div>

<h3>3.Add Expert to your Insurance company</h3>
<div class="section">
    <input class="form-control" type="text" ng-model="$ctrl.expert">
    <button class="btn" ng-click="$ctrl.addExpert()">Add Expert</button>
    <button class="btn" ng-click="$ctrl.checkExpert()">Check Expert</button>
</div>

<h3>4.Send Initial Money to your organization</h3>
<div class="section">
    <button class="btn" ng-click="$ctrl.checkBallance()">Check Ballance</button>
     Your Insurance contract ballance : {{$ctrl.orgBalance}}
</div>